.main__header {
  display: flex;
  flex-direction: column;

  padding: 20px;
  height: 150px;
  background-color: #e3e4e6;
  color: slategray;
  background: #f0bc74;
}

.banner__title {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  color: #111827;
  font-weight: 700;
}

.banner__content {
  font-size: 1.5rem;
  color: #7b7b7b;
  font-weight: 200;
}
